# If you have the right to modify the vhost conf,
# you should insert these lines directly in to avoid
# server to load this file every query.

# Disabled the PHP error reporting
php_value error_reporting 0

# Enabled the Rewrite engine
RewriteEngine On

# Rewrite all directory to directory/index.html
RewriteRule (.*)/$ $1/index.html [NC,L]

# Redirect all HTML file queries to index.php
RewriteRule (.*)\.html? index.php?tpl=$1 [NC,L]